*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    height: 100vh;
    width: 100%;
}

.box{
    height: 100%;
    width: 100%;
    background-color: gray;
}
.imagedvd {
    height: 100px;
    width: 150px;

    /*Animation*/
    animation-name: dvd-infinite;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;

    /*Animation*/
}

@keyframes dvd-infinite{
    0%{
        transform: translate(0,0);
    }

    25%{
        transform: translate(256px, 698px);
        opacity: 5%;
    }
    
    50%{
        transform: translate(512px, 0);
        opacity: 10%;
    }
    
    75%{
        transform: translate(768px, 698px);
        opacity: 15%;
    }

    100%{
        transform: translate(1024px, 0px);
    }
}