body {
    background: whitesmoke;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: blue;
    height: 500px;
    width: 500px;
    position: relative;
}

.item1 {
    position: absolute;
    top: 225px;
    left: 225px;
    height: 50px;
    width: 50px;
    background-color: pink;
}

.item2 {
    position: absolute;
    top: 225px;
    left: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: yellow;


}

.item3 {
    position: absolute;
    bottom: 25px;
    right: 225px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: brown;


}

.item4 {
    position: absolute;
    top: 25px;
    left: 225px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;


}

.item5 {
    position: absolute;
    bottom: 225px;
    right: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;


}
